/* .scroll-up {
  position: relative;
  border-radius: 50%;
  background: $getColor;
  position: fixed;
  right: 5%;
  bottom: 5%;
}

.arrow-up {
  &::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 75px;
    top: 5px;
    right: 5px;
    color: #fff;
  }
} */