$containerWidth: 1440px;
$backgoundcolor: #171836;
$titleColor: rgba(255, 255, 255, 0.8);
$subtitleCollor: rgba(255, 255, 255, 0.7);
$featuredTextColor: rgba(255, 255, 255, 0.6);
$descriptionText: rgba(255, 255, 255, 0.4);
$ff: 'Inter',
sans-serif;
$fw400: 400;
$fz14: 14px;
$fsnormal: normal;
$fw500: 500;
$fw600: 600;
$fw700: 700;
$buttonColor:#F5443B;
$buttonColorText: #fff;
$bugerBackgroubdColor: linear-gradient(180deg, #202246 -53.38%, rgba(40, 43, 87, 1) 100%);
$classesCardBackgroundColor: linear-gradient(180deg, #202246 -53.38%, rgba(40, 43, 87, 0.17) 100%);
$typeColor: #3BF5BD;
$pricingCardBackgroundColor:linear-gradient(180deg, #202246 -53.38%, rgba(40, 43, 87, 0.31) 100%);
$cardsBorderColor: rgba(50, 52, 101, 0.4);
$costColor: #F5453D;
$listStylecolor: #9799CE;
$getColor: linear-gradient(102.01deg, #23265C 1.96%, #352A56 101.68%);
$getCardsColor: rgba(255, 255, 255, 0.2);
$getCardsBorderColor: rgba(255, 255, 255, 0.12);
$getUserColor: linear-gradient(180deg, rgba(255, 255, 255, 0.192) 0%, rgba(255, 255, 255, 0.088) 100%);
$getUserBorderColor: rgba(255, 255, 255, 0.05);
$headerUseBackgroundColor: rgba(255, 255, 255, 0.5);
$copyrightColor: #8F91D0;